* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

input[type='text'] {
  width: 80%;
  padding: 0.5rem;
  margin: 2rem;
  outline: none;
  display: block;
}

.heading1 {
  background-color: #f26c83;
}

.heading2 {
  background-color: #db545a;
}

.heading3 {
  background-color: #d02341;
}


.bg1 {
  background-color: #1a1a1a;
}


.bg2 {
  background-color: #333333;
}


th,
tr,
td,
#mytable {
  border: 1px solid #4f4f4f;
  border-collapse: collapse;
}

th,
td {
  padding: 0.8rem;
}


#mytable {
  width: 80%;
  font-size: 1.5rem;
  color: white;
  margin: 4rem;
}