@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 10px;
  width: 50%;
  margin: 20px auto;
  margin-top: 50px;
}

.order {
  text-align: center;
}

.track {
  width: 65%;
  height: auto;
  padding: 10px;
  margin: 7px auto;
  border: 1.5px solid black;
  text-align: center;
  border-radius: 30px;
  display: none;
}

.process-track {
  display: grid;
  grid-template-columns: 1fr;
}

input {
  padding: 10px 18px;
  margin: 10px auto;
  outline: none;
  display: block;
  width: 50%;
  text-align: center;
  text-transform: capitalize;
}

button {
  padding: 10px 18px;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: rgba(188, 107, 69, 0.658);
  border-radius: 10px;
}

h2 {
  text-align: center;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  padding: 10px;
  color: rgb(58, 58, 58);
  position: fixed;
  top: 0;
  width: 100%;
}

h4 {
  text-align: center;
  margin: 10px 0;
}

p {
  line-height: 20px;
  font-size: 15px;
}

.done {
  background-color: lightgreen;
  color: white;
}

.block {
  display: block;
}