.registration-form {
  background-color: rgba(207, 105, 105, 0.374);
  width: 90%;
  margin: auto;
  margin-top: 7rem;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 1rem;
}

/* For removing arrows from the input number tag*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}