@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.main-heading {
  margin: 15px auto;
  text-align: center;
}

.order-id-input {
  width: 40%;
  margin: 15px auto;
  font-family: 'Montserrat', sans-serif;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.main-container-row {
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
}

.order-block {
  display: none;
}